################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/back-end/carro-test-api/.vs/*
/back-end/carro-test-api/.vs/carro-test-api/v17/.suo
